<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <!--<link href="style/style.css" rel="stylesheet" type="text/css">-->
</head>
<body id="credentials">
<fieldset>
    <h1>Sign in</h1>
    <form action="../controller/loginController.php" method="post">
        <label for="">Email</label>
        <br>
        <input type="email" name="email" required>
        <br>
        <label for="">Password</label>
        <br>
        <input type="password" name="password" required>
        <br>
        <input type="submit" name="submit" value="Sign in">
    </form>
    <p>Click <a href="register.html">here</a> to register.</p>
</fieldset>
</body>
</html>