<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="style/style.css" rel="stylesheet" type="text/css">-->
</head>
<body id="credentials">
<fieldset>
    <h1>Sign up</h1>
    <form action="../controller/registerController.php" method="post">
        <label for="">Username</label>
        <br>
        <input type="text" name="username" required>
        <br>
        <label for="">Password</label>
        <br>
        <input type="password" name="password" required>
        <br>
        <label for="">Email</label>
        <br>
        <input type="email" name="email" required>
        <br>
        <input type="submit" name="submit" value="Register">
    </form>
    <p>Click <a href="login.html">here</a> to login.</p>
</fieldset>
</body>
</html>